<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="shortcut icon" href="/image/favicon.png" type="/image/png" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />

    <link rel="stylesheet" href="/styles//partials/page-give-classes-tutorial.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
</head>
<body id="page-give-classes-tutorial">
  <div id="container">
    <header class="page-header">
   
      <div class="tutorial-give-classes">

      <strong> Que irado!</strong>

      <h2> Mais um Proffy no Proffy! </h2>
      <p> A única coisa que precisará fazer para se tornar um Proffy é preencher um simples
        formulário, não vai dura nem 5 segundos!
        depois de completar o formulário, você será adicionado em nossa lista, os interessados
        te contatarão via Whatsapp, então fica de olho!
      </p>

      <a class="button-tutorial2" href="/give-classes" alt="Ir">
        <img class="smile" src="/image/icons/smile.svg" alt="Emoji sorridente">
        <ac>Continuar</ac>
      </a>
 

      <img class="background" src="/image/success-background.svg" alt="">
    </div>
    </header>

  </div>
  
</body>
</html>