<!DOCTYPE html>
<html lang="pt_br">
  <!-- lang é um atributo -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#8257E5" />

    <title>Proffy</title>


    <link rel="shortcut icon" href="/image/favicon.png" type="/image/png" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />

    <link rel="stylesheet" href="/styles//partials/page-landing.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />

    

    
  </head>
  <body id="page-landing">
    
    <div id="container">
      <div class="logo-container">
        <img src="/image/logo.svg" alt="Proffy" />
        <h2>uma plataforma muito legal :)</h2>
      </div>
      <img
        class="hero-image"
        src="/image/landing.svg"
        alt="Plataforma de estudos"
      />
     
      <div class="buttons-container">
        <a class="study" href="/study-tutorial">
          <img src="/image/icons/study.svg" alt="Estudar " /> Estudar </a
        >
        <a class="give-classes" href="/give-classes-tutorial">
          <img src="/image/icons/give-classes.svg" alt="Dar aulas " /> Dar aulas
        </a>
        <!--href = tag que manda para algum local, ex: https://google.com-->
      </div>
      
      </div>
      
     
        <header class="page-header-landing">
          <div class="subnames">
            <p> 
              Seja bem-vindo.
            </p>
            <p class="welcome">como prefere prosseguir?</p>
    
            <p class="total-connections">
              Obrigado Rocketseat :)  foi incrível <!-- 💚  -->
                       
              <img src="/image/icons/purple-heart.svg" alt="Coração roxo" />
            </p>
          </div> 
        </header>
      
    </div>


  </body>
</html>

<!-- color: green;
    propriedade : valor-->
