<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="shortcut icon" href="/image/favicon.png" type="/image/png" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials/header.css" />

    <link rel="stylesheet" href="/styles//partials/page-study-tutorial.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
      rel="stylesheet"
    />
</head>
<body id="page-study-tutorial">
  <div id="container">
    <header class="page-header">
   
      <div class="tutorial-study">

      <strong> Aqui será a área que você encontrará os Proffys</strong>

      <h2> È super simples achar alguém para te ensinar aqui</h2>
      <p> Tudo que precisa saber para encontrar seu Proffy ideal é <br> 
      filtrar para sua preferência de aprendizado, e em seguida, aparecerá 
      um botão para contatar o Proffy escolhido pelo Whatsapp.
      </p>

      <a class="button-tutorial" href="/study" alt="Estudar ">
        <img class="rocket" src="/image/icons/rocket.svg" alt="Rocketseat">
        <ac>Ir para a lista</ac>
      </a>
 
      <img class="background" src="/image/success-background.svg" alt="">
    </div>
    </header>

  </div>
  
</body>
</html>